{{>partials/header}}
<div class="grid gap-3 grid-cols-3">
    <div class="bg-red col-span-full rounded-md bg-blue-500 text-white p-4">1</div>
    <div class="bg-red col-span-2 rounded-md bg-blue-500 text-white p-4">2</div>
    <div class="bg-red rounded-md bg-blue-500 text-white p-4">3</div>
    <div class="bg-red rounded-md bg-blue-500 text-white p-4">4</div>
    <div class="bg-red col-start-2 rounded-md col-end-4 bg-blue-500 text-white p-4">5</div>
    <div class="bg-red rounded-md bg-blue-500 text-white p-4">6</div>
    <div class="bg-red rounded-md bg-blue-500 text-white p-4">7</div>
    <div class="bg-red rounded-md bg-blue-500 text-white p-4">8</div>
    <div class="bg-red col-span-full rounded-md bg-blue-500 text-white p-4">9</div>
</div>
{{>partials/footer}}